name: Terraform

on:
  push:
    branches:
    - "main"
  pull_request:

jobs:
  terraform:
    runs-on: ubuntu-latest
    
    steps:
    # Checkout the repository to the GitHub Actions runner
    - name: Checkout
      uses: actions/checkout@v3

    # Install the latest version of Terraform CLI and configure the Terraform CLI configuration file with a Terraform Cloud user API token
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v1

    # Initialize a new or existing Terraform working directory by creating initial files, loading any remote state, downloading modules, etc.
    - name: Terraform Init
      run: terraform init

    # Checks that all Terraform configuration files adhere to a canonical format
    - name: Terraform Format
      run: terraform fmt -check

    - name: Plan Terraform
      id: plan
      continue-on-error: true
      run: terraform plan -input=false -no-color    

    - name: Post Plan to GitHub PR
      uses: mshick/add-pr-comment@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        repo-token-user-login: 'github-actions[bot]'
        message: |
          Applying:
          
          ```
          ${{ steps.plan.outputs.stdout }}
          ```
    - name: Apply Terraform
      if: steps.plan.outcome == 'success'
      id: apply
      continue-on-error: true
      run: |
        terraform apply -auto-approve  
    
    - name: Post Apply to GitHub PR
      if: steps.plan.outcome == 'success' && steps.apply.outcome == 'success'
      uses: mshick/add-pr-comment@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        repo-token-user-login: 'github-actions[bot]'
        message: |
          Applied:

          ```
          ${{ steps.apply.outputs.stdout }}
          ```                 

    - name: Post Apply Failure
      if: steps.apply.outcome == 'failure'
      uses: mshick/add-pr-comment@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        repo-token-user-login: 'github-actions[bot]'
        message: |
          Apply failed for :

          ```
          ${{ steps.apply.outputs.stdout }}
          ```       
    - name: commit the terraform state
      uses: stefanzweifel/git-auto-commit-action@v4
      with:
        commit_message: Automated Change
        file_pattern: terraform.tfstate
